@using Entity.Concrete;
@model List<Message>


<li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">@ViewBag.MessagesCount</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        @foreach (var item in Model)
        {
                <li>
                                <div class="dropdown-messages-box">
                                    <a class="dropdown-item float-left" asp-controller="Message" asp-action="ViewReceiveMessage" asp-route-id="@item.Id">
                                        <img alt="image" class="rounded-circle" src="~/Images/User/@item.Sender.Image">
                                    </a>
                                    <div class="media-body">
                                            <strong>@item.Sender.FullName</strong> - @item.Subject. <br>
                                                <small class="text-muted">@item.CreateDate.ToString("hh:mm tt") - @item.CreateDate.ToString("MM.dd.yyyy")</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-divider"></li>
        }
                        
                        
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a asp-controller="Message" asp-action="Index" class="dropdown-item">
                                    <i class="fa fa-envelope"></i> <strong>Bütün mesajları oxu</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>