@using Entity.Concrete;
@model List<Message>
@{
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="wrapper wrapper-content">
        <div class="row">

           <partial name="~/PartialViews/WriterLayout/MessageTransactions.cshtml"/> 



            <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">                   
                <h2>
                    Gələn mesajlar (@Model.Count)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Səhifəni yenilə" href="/Message/Index"><i class="fa fa-refresh"></i> Yenilə</a>
                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Seçilənləri sil"href="/Message/DeleteReceiveAll/"><i class="fa fa-trash-o"></i></a>
                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Hamısını sil" href="/Message/Index">Hamısını sil</a>

                </div>
            </div>
                <div class="mail-box">

                <table class="table table-hover table-mail">
                    
                <tbody>                   
                     
                        @foreach (var item in Model)
                        {
                                <tr class="read">                          
                                    <td class="mail-ontact"><a asp-controller="Message" asp-action="ViewReceiveMessage" asp-route-id="@item.Id">@item.Sender.FullName</a></td>
                                      <td class="mail-subject"><a asp-controller="Message" asp-action="ViewReceiveMessage" asp-route-id="@item.Id">@item.Subject</a></td>

                                <td class="text-right mail-date">@item.CreateDate.ToShortDateString()</td>
                            </tr>  

                        }

                </tbody>
                </table>


                </div>
            </div>
        </div>
        </div>